# Ficheros binarios grandes (instalaciones locales)
openempi/app/
orientdb/app/

# Logs
*.log
logs/

# Ficheros de base de datos H2
*.mv.db
*.trace.db

# Ficheros temporales de Windows
Thumbs.db
desktop.ini

# Variables de entorno locales
.env
